@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch&display=swap');

:root{
    --cor-de-fundo: #bd1f1f;
    --branco: #ffffff;
    --cor-texto: #eee83e;
    --cor-blocos: #3A375E;
}

body{
    background-color: var(--cor-de-fundo);
    color: var(--cor-texto);
    font-family: 'Chakra Petch', sans-serif;
}

.conteudo-principal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    width: 100%;
    margin: 0%;
}

.titulo-principal{
    text-align: left;
    width: 100%;
    font-size: 32px;
}